<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>Clean Architecture MVVM iOS App</string>
    <key>Identifier</key>
    <string>com.erick.CleanArchitectureMVVM</string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Concrete</key>
    <true/>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
        <string>com.apple.dt.unit.storageType</string>
    </array>
    <key>SortOrder</key>
    <string>1</string>
    <key>Platforms</key>
    <array>
        <string>com.apple.platform.iphoneos</string>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>appLifecycle</string>
            <key>Units</key>
            <dict>
                <key>SwiftUI</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Preview Content/Preview Assets.xcassets</string>
                        </array>
                        <key>Targets</key>
                        <array>
                            <dict>
                                <key>SharedSettings</key>
                                <dict>
                                    <key>ENABLE_PREVIEWS</key>
                                    <string>YES</string>
                                    <key>DEVELOPMENT_ASSET_PATHS</key>
                                    <string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
                                    <key>INFOPLIST_KEY_UIApplicationSceneManifest_Generation</key>
                                    <string>YES</string>
                                    <key>INFOPLIST_KEY_UILaunchScreen_Generation</key>
                                    <string>YES</string>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>storageType</key>
                            <string>None</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>___PACKAGENAME:identifier___App.swift</string>
                            <string>UI/Views/Content/ContentView.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>___PACKAGENAME:identifier___App.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>___PACKAGENAME___/App.swift</string>
                                <key>SortOrder</key>
                                <integer>97</integer>
                            </dict>
                            <key>UI/Views/Content/ContentView.swift</key>
                            <dict>
                                <key>SortOrder</key>
                                <integer>99</integer>
                                <key>Path</key>
                                <string>___PACKAGENAME___/UI/Views/Content/ContentView.swift</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>storageType</key>
                            <string>Core Data</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>___PACKAGENAME:identifier___App.swift</string>
                            <string>UI/Views/Content/ContentView.swift</string>
                            <string>Persistence.swift</string>
                            <string>Data/Local/Users/UserLocalDataSource.swift</string>
                            <string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>___PACKAGENAME:identifier___App.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>App-CoreData.swift</string>
                                <key>SortOrder</key>
                                <integer>97</integer>
                            </dict>
                            <key>UI/Views/Content/ContentView.swift</key>
                            <dict>
                                <key>SortOrder</key>
                                <integer>99</integer>
                                <key>Path</key>
                                <string>UI/Views/Content/ContentView-CoreData.swift</string>
                            </dict>
                            <key>Data/Local/Users/UserLocalDataSource.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>Data/Local/Users/UserLocalDataSource-CoreData.swift</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>Persistence.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>Persistence-CoreData.swift</string>
                                <key>SortOrder</key>
                                <integer>100</integer>
                            </dict>
                            <key>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</key>
                            <dict>
                                <key>Path</key>
                                <string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
                                <key>SortOrder</key>
                                <integer>101</integer>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>storageType</key>
                            <string>SwiftData</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>___PACKAGENAME:identifier___App.swift</string>
                            <string>UI/Views/Content/ContentView.swift</string>
                            <string>Domain/Entities/Item.swift</string>
                            <string>Domain/Models/UserModel.swift</string>
                            <string>Data/Local/Users/UserLocalDataSource.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>___PACKAGENAME:identifier___App.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>___PACKAGENAME___/App-SwiftData.swift</string>
                                <key>SortOrder</key>
                                <integer>97</integer>
                            </dict>
                            <key>UI/Views/Content/ContentView.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>___PACKAGENAME___/UI/Views/Content/ContentView-SwiftData.swift</string>
                                <key>SortOrder</key>
                                <integer>98</integer>
                            </dict>
                            <key>Domain/Entities/Item.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>___PACKAGENAME___/Domain/Entities/Item-SwiftData.swift</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>Domain/Models/UserModel.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>___PACKAGENAME___/Domain/Models/UserModel-SwiftData.swift</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>Data/Local/Users/UserLocalDataSource.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>___PACKAGENAME___/Data/Local/Users/UserLocalDataSource-SwiftData.swift</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>Cocoa</key>
                <array>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>userInterface</key>
                            <string>SwiftUI</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>ContentView.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ContentView.swift</key>
                            <dict>
                                <key>SortOrder</key>
                                <integer>99</integer>
                                <key>Path</key>
                                <string>ContentView.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Sources</key>
        <dict>
            <key>Path</key>
            <string>Sources</string>
            <key>Group</key>
            <true/>
        </dict>
        <key>Preview Content/Preview Assets.xcassets</key>
        <dict>
            <key>SortOrder</key>
            <integer>100</integer>
            <key>Path</key>
            <string>Preview Assets.xcassets</string>
            <key>Group</key>
            <string>Preview Content</string>
        </dict>
        <key>UI/Views/Content/ContentView.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/UI/Views/Content/ContentView.swift</string>
            <key>SortOrder</key>
            <integer>99</integer>
        </dict>
        <key>UI/Views/Content/ContentViewModel.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/UI/Views/Content/ContentViewModel.swift</string>
        </dict>
        <key>Data/Network/APIClient.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Data/Network/APIClient.swift</string>
        </dict>
        <key>Resources/Localizable.strings</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Resources/Localizable.strings</string>
        </dict>
        <key>Utilities/Utility.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Utilities/Utility.swift</string>
        </dict>
        <key>Utilities/Extensions/ColorExtension.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Utilities/Extensions/ColorExtension.swift</string>
        </dict>
        <key>Utilities/Extensions/DateExtension.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Utilities/Extensions/DateExtension.swift</string>
        </dict>
        <key>Utilities/Extensions/FontExtension.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Utilities/Extensions/FontExtension.swift</string>
        </dict>
        <key>Utilities/Extensions/IntExtension.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Utilities/Extensions/IntExtension.swift</string>
        </dict>
        <key>Utilities/Extensions/StringExtension.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Utilities/Extensions/StringExtension.swift</string>
        </dict>
        <key>Utilities/Styles/CardModifier.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Utilities/Styles/CardModifier.swift</string>
        </dict>
        <key>Utilities/Styles/FullScreenStyle.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Utilities/Styles/FullScreenStyle.swift</string>
        </dict>
        <key>Utilities/Styles/HideViewModifier.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Utilities/Styles/HideViewModifier.swift</string>
        </dict>
        <key>Domain/Entities/User.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Domain/Entities/User.swift</string>
        </dict>
        <key>Domain/Models/UserDTO.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Domain/Models/UserDTO.swift</string>
        </dict>
        <key>Domain/UseCases/Users/GetUsersUseCase.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Domain/UseCases/Users/GetUsersUseCase.swift</string>
        </dict>
        <key>Domain/UseCases/Users/AddUsersUseCase.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Domain/UseCases/Users/AddUsersUseCase.swift</string>
        </dict>
        <key>Domain/UseCases/Users/DeleteUserUseCase.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Domain/UseCases/Users/DeleteUserUseCase.swift</string>
        </dict>
        <key>Domain/UseCases/Users/UserUseCases.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Domain/UseCases/Users/UserUseCases.swift</string>
        </dict>
        <key>Data/Repositories/Users/UserRepository.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Data/Repositories/Users/UserRepository.swift</string>
        </dict>
        <key>Data/Repositories/Users/UserRepositoryImpl.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Data/Repositories/Users/UserRepositoryImpl.swift</string>
        </dict>
        <key>Data/Network/Users/UserRemoteDataSource.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/Data/Network/Users/UserRemoteDataSource.swift</string>
        </dict>
        <key>UI/Views/UsersList/UsersListView.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/UI/Views/UsersList/UsersListView.swift</string>
        </dict>
        <key>UI/Views/UsersList/UsersListViewModel.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/UI/Views/UsersList/UsersListViewModel.swift</string>
        </dict>
        <key>System/Configuration.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___/System/Configuration.swift</string>
        </dict>
        <key>../___PACKAGENAME___Tests/Domain/UseCases/Users/GetUsersUseCaseTests.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___Tests/Domain/UseCases/Users/GetUsersUseCaseTests.swift</string>
            <key>Target</key>
            <string>___PACKAGENAME___Tests</string>
        </dict>
        <key>../___PACKAGENAME___Tests/Data/Repositories/UserRepositoryImplTests.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___Tests/Data/Repositories/UserRepositoryImplTests.swift</string>
            <key>Target</key>
            <string>___PACKAGENAME___Tests</string>
        </dict>
        <key>../___PACKAGENAME___Tests/UI/Views/UsersList/UsersListViewModelTests.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___Tests/UI/Views/UsersList/UsersListViewModelTests.swift</string>
            <key>Target</key>
            <string>___PACKAGENAME___Tests</string>
        </dict>
        <key>../___PACKAGENAME___Tests/Data/Network/APIClientTests.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___Tests/Data/Network/APIClientTests.swift</string>
            <key>Target</key>
            <string>___PACKAGENAME___Tests</string>
        </dict>
        <key>../___PACKAGENAME___Tests/Mocks/Data/Network/MockAPIClient.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___Tests/Mocks/Data/Network/MockAPIClient.swift</string>
            <key>Target</key>
            <string>___PACKAGENAME___Tests</string>
        </dict>
        <key>../___PACKAGENAME___Tests/Mocks/Data/Local/MockUserLocalDataSource.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___Tests/Mocks/Data/Local/MockUserLocalDataSource.swift</string>
            <key>Target</key>
            <string>___PACKAGENAME___Tests</string>
        </dict>
        <key>../___PACKAGENAME___Tests/Mocks/Data/Remote/MockUserRemoteDataSource.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAME___Tests/Mocks/Data/Remote/MockUserRemoteDataSource.swift</string>
            <key>Target</key>
            <string>___PACKAGENAME___Tests</string>
        </dict>
    </dict>
    <key>Nodes</key>
    <array>
        <string>UI/Views/Content/ContentView.swift</string>
        <string>UI/Views/Content/ContentViewModel.swift</string>
        <string>Data/Network/APIClient.swift</string>
        <string>Resources/Localizable.strings</string>
        <string>Utilities/Utility.swift</string>
        <string>Utilities/Extensions/ColorExtension.swift</string>
        <string>Utilities/Extensions/DateExtension.swift</string>
        <string>Utilities/Extensions/FontExtension.swift</string>
        <string>Utilities/Extensions/IntExtension.swift</string>
        <string>Utilities/Extensions/StringExtension.swift</string>
        <string>Utilities/Styles/CardModifier.swift</string>
        <string>Utilities/Styles/FullScreenStyle.swift</string>
        <string>Utilities/Styles/HideViewModifier.swift</string>
        <string>Domain/Entities/User.swift</string>
        <string>Domain/Models/UserDTO.swift</string>
        <string>Domain/UseCases/Users/GetUsersUseCase.swift</string>
        <string>Domain/UseCases/Users/AddUsersUseCase.swift</string>
        <string>Domain/UseCases/Users/DeleteUserUseCase.swift</string>
        <string>Domain/UseCases/Users/UserUseCases.swift</string>
        <string>Data/Repositories/Users/UserRepository.swift</string>
        <string>Data/Repositories/Users/UserRepositoryImpl.swift</string>
        <string>Data/Network/Users/UserRemoteDataSource.swift</string>
        <string>UI/Views/UsersList/UsersListView.swift</string>
        <string>UI/Views/UsersList/UsersListViewModel.swift</string>
        <string>System/Configuration.swift</string>
        <string>../___PACKAGENAME___Tests/Domain/UseCases/Users/GetUsersUseCaseTests.swift</string>
        <string>../___PACKAGENAME___Tests/Data/Repositories/UserRepositoryImplTests.swift</string>
        <string>../___PACKAGENAME___Tests/UI/Views/UsersList/UsersListViewModelTests.swift</string>
        <string>../___PACKAGENAME___Tests/Data/Network/APIClientTests.swift</string>
        <string>../___PACKAGENAME___Tests/Mocks/Data/Network/MockAPIClient.swift</string>
        <string>../___PACKAGENAME___Tests/Mocks/Data/Local/MockUserLocalDataSource.swift</string>
        <string>../___PACKAGENAME___Tests/Mocks/Data/Remote/MockUserRemoteDataSource.swift</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.cocoaTouchApplicationTarget</string>
        </dict>
    </array>
</dict>
</plist>